<h1>Task-1</h1>

<div class="table-responsive col-md-3">
  <table class ="table col-md-3">
    <thead class="thead-default">
    <tr class="trClass">
      <th (click)="sorting('name')">name</th>

      <th (click)="sorting('category')">category</th>
      <th (click)="sorting('amount')">amount</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let data of records | orderBy: {col: column, dir: direction}">
      <td>{{data.name}}</td>
      <td>{{data.category}}</td>
      <td>{{data.amount}}</td>
    </tr>
    </tbody>


  </table>
</div>
